# Copy file này thành .env và điền giá trị thực

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REFRESH_TOKEN=

# ID của Google Sheet kết quả (đã cấu hình sẵn)
OUTPUT_SHEET_ID=1LoNZUU_ndBPdTPhTMMu3lGmOgK5xR3piacpCP_aY2VM
